@font-face {
  font-family: 'GT-Sectra-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/GT-Sectra-Fine-Regular.ttf');
}


@font-face {
  font-family: 'GT-Sectra-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/GT-Sectra-Fine-Medium.ttf');
}

@font-face {
  font-family: 'Basis-Grosteque-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/basis-grotesque-bold.otf');
}

@font-face {
  font-family: 'Basis-Grosteque-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/basis-grotesque-medium.otf');
}

@font-face {
  font-family: 'Basis-Grosteque-Mono';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/basis-grotesque-mono.otf');
}

html, body {
  height: 100%;
  margin:0;
  padding: 0;
  background: #F8F8F8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Basis-Grosteque-Medium';
}

hr {
  border: 1px solid #E0E0E0;
  border-top: 0;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #DCA600;
  padding-bottom: 0.125rem;
  color: #121212;
}

a:hover {
  color: #DCA600;
  border-bottom: 1px solid #DCA600;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3% 8%;
}

.titles {
  font-size: 0.875rem;
}

.title {
  font-family: 'Basis-Grosteque-Bold';
  display: flex;
  flex-direction: row;
  line-height: 0;
  text-align: left;
  font-size: 0.875rem;
}

.subtitle {
  line-height: 0.5rem;
}

.about {
  font-size: 0.75rem;
}

.about-mobile {
  display: none;
}

.bold {
  font-family: 'Basis-Grosteque-Bold';
}

.description {
  margin: 7% 8% 5% 8%;
  font-family: 'GT-Sectra-Medium';
  font-size: 2.25rem;
  line-height: 1.5;
}

.projects {
  margin: 5% 8% 5% 8%;
}

.one-project {
  display: flex;
  justify-content: space-between;
  margin: 5% 0% 10% auto;
}

.text {
  margin-left: 0.75rem;
  margin-right: 5%;
  flex: 1;
}

.image {display: none}

img {
  vertical-align: middle;
  width:100%;
}

/* Slideshow container */
.slides-mobile {
  display: none;
}

.image-mobile {
  display: none;
}

.slides {
  position: relative;
  display: inline-block;
  max-width: 45%! important;
  flex: 1;
}

.slides a {
  border: unset;
}

.slides:hover {
  cursor: pointer;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  font-family: "Basis-Grosteque-Mono";
  font-size: 0.7rem;
  color: #f2f2f2;
  position: absolute;
  padding: 3% 3%;
  bottom: 0;
  left:0;
}

/* The dots/bullets/indicators */
.dots {
  position: absolute;
  z-index: 5;
  top: 3%;
  right: 3%;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #DCA600;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.project-title {
  font-family: 'GT-Sectra-Medium';
  font-size: 1.625rem;
  line-height: 1.1;
  margin: 0 1.25rem 0 1.25rem;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  text-indent: -1.75rem;
}

.small-text {
  font-family: 'Basis-Grosteque-Mono';
  font-size: 0.75rem;
  margin-top: 1%;
  text-indent: 1.125rem;
}

.project-small-text {
  font-family: 'Basis-Grosteque-Mono';
  font-size: 0.75rem;
  margin-left: 1.25rem;
  margin-top: 0.5%;
}

.content {
  margin: 4% auto 8% 1.125rem;
  line-height: 1.6;
}

.cta {
  font-family: 'GT-Sectra-Regular';
  font-size: 1.125rem;
  margin: 6% 1.125rem 0% 1.125rem;
}

footer {
  text-align: right;
  margin: 3% 8%;
}

/* Responsive */
@media (max-width: 768px) {
  .titles {
    width: 100%;
  }

  .title {
    margin-bottom: 0;
    line-height: 1;
  }

  .subtitle {
    margin-top: 0.125rem;
    line-height: 1.3;
    width: 70%;
  }

  footer .about {
    font-size: 0.75rem;
    display: block;
    text-align: left;
  }

  footer {
    margin: 3% 8% 5% 8%;
  }

  .header {
    margin: 3% 8%;
  }

  .about {
    display: none;
  }

  .about-mobile {
    font-family: 'Basis-Grosteque-Medium';
    font-size: 0.675rem;
    display: block;
    text-align: right;
    line-height: 1.5;
  }

  .description {
    font-size: 1.75rem;
  }

  .projects .title {
    margin: 8% auto 10% auto;
  }

  .one-project {
    display: flex;
    flex-direction: column;
    margin-bottom: 22%;
  }

  .project-small-text {
    margin-top: 0.125rem;
  }

  .text {
    margin-right: auto;
  }

  .content {
    font-size: 0.875rem;
  }

  .slides {
    display:none;
  }

  .slides-mobile {
    display: flex;
    margin: 5% 0 2% -0.75rem !important;
  }

  .slides-mobile img {
    width: 100%;
  }

  .dots-container {
    position: relative;
  }

  .dots {
    display: flex;
    position: relative;
    z-index: 5;
    margin: 1% 0 0 0;
  }

  .content {
    margin-left: -0.75rem;
    margin-top: 6%;
  }

  .cta {
    margin-left: -0.75rem;
    margin-top: 14%;
  }
}
